<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="logback.bundleName" values="tools-accesslog2solr"/>
  <include file="${logback.ownConfigurationFile}"/>

  <!--
  <logger name="org.apache" level="INFO" />
  <logger name="de.nextaudience.ateamd.store.impl" level="DEBUG" />
  -->

</configuration>
